body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}


.line{
    margin-top: 0px;
    border-top:1px solid rgba(34, 33, 33, 0.295);
    height:100%;
  }
  
  
.topnav {
  overflow: hidden;
  background-color: #808080	;
  

}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;

  border-left: 2px solid rgba(0, 0, 0, 0.096);
  height: 60px;
}

.myborder{
  border-color: #808080;
}
  


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #B22222;
  color: white;
}


.word {
    width: 550px;
    height: 250px;
    border: px solid #8d7b7b54;
  }


  .knight {
    width: 200px;
    height: 300px;
    border: px solid rgba(34, 33, 33, 0.295);
  }

.hr {
  
    border: none;
    background-color: rgba(34, 33, 33, 0.295); 
    color: red; 
    height: 2px; 
    width: 10000px ;
 
}

.title {

  overflow: hidden;
  text-align: center;
  font-size: 30px;
}
.title span {
  display: inline-block;
  vertical-align: middle;
}
.title:before,
.title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 100%;
  height: 12px;
  background-color: #353434;
  position: relative;
}
.title:before {
  margin-left: -100%;
  left: -14px;
}
.title:after {
  margin-right: -100%;
  right: -14px;
}

.thumb img  {
  /* border: 2px solid #55c5e9; 
  padding: 15px; 
  background: #666;  */
  margin-right: 60px; 
  margin-bottom: 50px; 
}


















/*  .debu {
  display: flex;
  justify-content: space-between;
 } */




/* 
    .new-class {
      display: flex;
      justify-content: space-between;
    } */

/*   ::-webkit-scrollbar {
    width: 0;
  } */
/* 
  .scroll{
    max-width: 100vw;
    overflow-x: hidden;
  } */